
:root{
    --grey-100: #f5f5f5;
    --grey-300: #e0e0e0;
    --grey-200: #eeeeee;
    --grey-700: #616161;
    --grey-900: #212121;
    --orange-800: #ef6c00;
    --orange-900: #e65100;
    --orange-50: #fff3e0;
}

body {
    color: var(--grey-900);
    background-color: var(--grey-100);
    font-size: 12px;
}

a {
    color: var(--grey-700);
    text-decoration: none;
}

button {
    border: 1px solid var(--grey-700);
    padding: 5px 8px;
    background-color: var(--grey-200);
    box-sizing: border-box;
    height: 25px;
}

.news-dashboard {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.news-articles-list-wrapper {
    border-top: 3px solid var(--orange-800);
    background-color: var(--grey-100);
    height: 80%;
    overflow-y: scroll;
}
    
.news-articles-list {
    margin-top: 50px;
}

.news-articles-navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--orange-900);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: bold;
    opacity: .95;
}

.news-articles-navigation a {
    color: var(--orange-50);
    display: inline-block;
    padding: 10px 15px;
}

.news-articles-navigation-previous a:before {
    content: "<";
    display: inline-block;
    margin-right: 5px;
}

.news-articles-navigation-next a:after {
    content: ">";
    display: inline-block;
    margin-left: 5px;
}

.news-article {
    padding: 15px 20px;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
}

.news-article:nth-child(odd) {
    background-color: var(--grey-100);
}

.news-article:nth-child(even) {
    background-color: var(--grey-200);
}

.news-article:last-child {
    margin-bottom: 50px;
}

.article-url {
    order: 4;
    flex: 0 1 100%;
    margin: 7px 0 14px;
}

.article-title {
    margin: 0;
    font-size: 16px;
    flex: 0 1 100%;
    order: 0;
}

.article-author {
    order: 1;
    margin-right: 10px;;
}

.article-author-prefix {
    margin-right: 5px;
    font-style: italic;
}

.article-author-value {
    font-weight: bold;
}

.article-creation-time {
    order: 3;
    margin-right: 10px;
}

.article-upvote {
    order: 4;
    flex-basis: 20%;
}

.article-upvote-prefix {
    margin-right: 3px;
}

.article-vote-count {
    order: 7;
    flex-basis: 25%;
    text-align: center;
}

.article-vote-count-value {
    font-weight: bold;
    font-size: 13px;
    display: block;
    margin-bottom: -3px;
}

.article-comments {
    order: 6;
    flex-basis: 25%;
    text-align: center;
}

.article-comments-value {
    font-weight: bold;
    font-size: 13px;
    display: block;
    margin-bottom: -3px;
}

.article-hide {
    order: 5;
    flex-basis: 20%;
    padding-left: 10px;
}

.news-graph {
    height: 20%;
    background: black;
    color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}